body{
    background-color: #EDF5E1;
}
.card-header{
    background-color: #C5CBE3;
    padding: 20px 0 10px 0;
}
#submit_btn{
    background-color: #4056A1;
    border-radius: 50px;
    padding: 8px 80px;
}
.nav-link{
    text-decoration: underline;
}
div.alert-primary{
    background-color: #C5CBE3;
    color: black;
}