@import url("https://fonts/googleapis.comcss2?family=Poppins:wght@400;500;600;700&display=swap");
body{
    margin: 0;
    padding: 0;
}
header h2{
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}

div.content{
    border-radius:30px;
    color: rgb(70, 67, 67);
}
div.row{
    margin-bottom: 15px;
}
div.btn-group{
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
a.back-btn{
    color: #4056A1;
    border-color:#EDF5E1;
    background: #EDF5E1;
}
.submit-btn{
    background: #4056A1;
    border-color: #4056A1;
    color: #EDF5E1;
}
a.back-btn:hover, .submit-btn:hover{
    background: #C5CBE3;
    color:  #4056A1;
    border: none;
    font-weight: bolder;
}
.form-label{
    font-size: 20px;
}
.btn-outline-dark{
    color: rgb(70, 67, 67);
    border-color:rgb(70, 67, 67);
}
.btn-outline-dark:hover{
    background:rgb(70, 67, 67);
    color:#EDF5E1
}