body{
    background-color: #dbd2cd;
    padding:0;
    margin: 0;
}
button.submit-btn,
a.back-btn:hover{
    background: #4056A1;
    border-color: #4056A1;
    color: #eef3e7;
}
button.submit-btn:hover,
a.back-btn{
    background:#eef3e7;
    border-color:#4056A1;
    color: #4056A1;
}

/* navigation bar */
div.top-bar{
    width:100%;
    background: #487626;
    box-shadow: 0 30px 35px rgba(0,0,0,0.2); 
}
div.top-bar div.test,
div.top-bar div.company{
    margin: 0 15px 0 15px;
}
a.side-nav{
    display: table;
    padding: 10px;
    text-decoration: none;
}
a.nav-link,
a.side-nav{
    color: #fbebb3;
    font-size: 18px;
    transition: 0.5s ease-in-out;
}
li.dropdown{
    position: relative;
    margin-left: 80%;
}
a.nav-link:hover{
    color:#E85A4F;
    text-decoration:wavy;
}
li.nav-item{
    margin-left: 25px;
}
a.dropdown-item:active{
    background-color: #487626;
}
a.logo{
    text-decoration: none;
    color: #fbebb3;
}
a.logo:hover{
    color:#fbebb3;
}
footer{
    width:100%;
    background-color: #487626;
    color:#fbebb3;
}
img.card-img-top{
    height: 250px;
}
.buy-btn,
.btn-close-modal:hover{
    background-color:#d59db0;
    color:#40360c;
    border:#40360c;
}
.buy-btn:hover,
.btn-close-modal{
    color:#d59db0;
    background-color:#40360c;
    border:#d59db0;
}
div.card{
    box-shadow: rgba(0,0,0,0.2);
}
.modalbutton{
    text-decoration: none;
    transition:0.2s ease-in;
    color:#487626;
    font-weight:500;
}
.modalbutton:hover{
    font-weight: 600;
    text-decoration: underline;
    color:#487626;
}
/* orderconfirmation.php */
div.content{
    margin: auto;
    margin-top: 5vh;
    /* border: 1px solid black; */
}
div.info-container{
    background-color: cornsilk;
    border-radius:15px;
}
.btn-order{
    background-color:#fff;
    color: #487626;
    border: 1px solid #487626;
}
.btn-order:hover{
    background:cornsilk;
    color: #487626;
    border: 1px solid #487626;
}
table.amount{
    font-size:20px;
    text-align: right;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  background:#eee;
}

.size span {
  font-size: 11px;
}

.color span {
  font-size: 11px;
}

.product-deta {
  margin-right: 70px;
}

.gift-card:focus {
  box-shadow: none;
}

.pay-button {
  color: #fff;
}

.pay-button:hover {
  color: #fff;
}

.pay-button:focus {
  color: #fff;
  box-shadow: none;
}

.text-grey {
  color: #a39f9f;
}

.qty i {
  font-size: 11px;
}

input[type="number"]{
    text-align: center;
    border:none;
    background-color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin: 0;
}

.btn-outline-success:hover{
    background-color:#487626;
}